.change-password {
  width: 100%;
  flex: 690px;
  height: 700px;
  ul {
    display: flex;
    flex-direction: column;
    .user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 34px 0;
      .profile-img {
        flex: 0 0 194px;
        text-align: end;
        padding-right: 32px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      p {
        flex-basis: 435px;
        font-size: 16px;
        font-weight: 400;
        color: var(--primary-text);
      }
    }
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      h4 {
        flex: 0 0 194px;
        padding: 0 32px;
        text-align: end;
        color: rgb(var(--primary-text));
        font-size: 16px;
        font-weight: 600;
      }
      input {
        flex-basis: 435px;
        width: 100%;
        border: 1px solid rgb(219, 219, 219);
        height: 32px;
        font-size: 16px;
        font-weight: 400;
        color: var(--primary-text);
        padding: 0 10px;
        border-radius: 3px;
        margin-bottom: 16px;
      }
    }
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 145px;
      margin-left: 194px;
      margin-top: 5px;
      button {
        color: #ffffff;
        background-color: var(--primary-button);
        border-radius: 8px;
        border: none;
        padding: 10px 0;
        font-size: 14px;
        font-weight: 600;
        &:disabled {
          background-color: var(--disabled-button);
          cursor: auto;
        }
      }
      p {
        font-size: 14px;
        font-weight: 600;
        color: var(--primary-button);
        cursor: pointer;
        &:hover {
          color: var(--primary-text);
        }
      }
    }
  }
}
